.submit-button {
  background-color: pink;
  border-style: solid;
  border-width: inherit;
}

.join-button {
  background-color: cadetblue;
  border-style: solid;
  border-width: inherit;
}

.button-ele {
  height: 40px;
  width: 80px;
  border-width: 0ch;
}

em {
  color: crimson;
  font-style: italic;
}

.submit-button:hover{
  background-color: rgb(37, 118, 118);
}

.submit-button:active{
  background-color: aliceblue;
}

.submit-button:focus{
  background-color: aquamarine;
}
.join-button:hover{
  background-color: pink;
}

.join-button:active{
  background-color: aliceblue;
}
